<!DOCTYPE html>
<head>
	<title>Create Account</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="/static/css/login_css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/login_css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/login_css/templatemo_style.css" rel="stylesheet" type="text/css">
    <style>
        .form-group .alert_text{ width:1px; height:34px; color:red; position:absolute;right: 120px; top:0; white-space:nowrap;}
        .form-group .alert_text1{ width:1px; height:34px; color:red; position:absolute;right: 240px; top:0; white-space:nowrap;}
        .form-group .alert_text2{ width:1px; height:34px; line-height:34px; color:red; position:absolute;right: 200px; top:0; white-space:nowrap;}
    </style>
</head>
<body class="templatemo-bg-gray">
	<h1 class="margin-bottom-15">Create Account</h1>
	<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-create-account templatemo-container" role="form" action="#" method="post">
				<div class="form-inner">
					<div class="form-group">
			          <div class="col-md-3">
			            <label for="last_name" class="control-label">姓</label><p class="alert_text"></p>
			            <input type="text" class="form-control" id="last_name" placeholder="">
			          </div>
                      <div class="col-md-3">
			            <label for="first_name" class="control-label">名字</label><p class="alert_text"></p>
			            <input type="text" class="form-control" id="first_name" placeholder="">
			          </div>
			          <div class="col-md-6">		          	
			            <label for="phone" class="control-label">电话</label><p class="alert_text1"></p>
			            <input type="text" class="form-control" id="phone" placeholder="">
			          </div>             
			        </div>
			        <div class="form-group">
			          <div class="col-md-6">
			            <label for="email" class="control-label">Email</label><p class="alert_text1"></p>
			            <input type="email" class="form-control" id="email" placeholder="">		            		            		            
			          </div>
                      <div class="col-md-6">
                        <label for="department" class="control-label">部门</label><p class="alert_text1"></p>
                        <input type="text" class="form-control" id="department" placeholder="">
                      </div>
			        </div>			
			        <div class="form-group">
			          <div class="col-md-6">		          	
			            <label for="username" class="control-label">账号</label><p class="alert_text1"></p>
			            <input type="text" class="form-control" id="username" placeholder="">		            		            		            
			          </div>
			          <div class="col-md-6 templatemo-radio-group">
			          	<label class="radio-inline" id="sex">
		          			<input type="radio" name="optionsRadios" id="optionsRadios1" value="male"> 男
		          		</label>
		          		<label class="radio-inline">
		          			<input type="radio" name="optionsRadios" id="optionsRadios2" value="female"> 女
		          		</label>
                          <p class="alert_text2"></p>
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-6">
			            <label for="password1" class="control-label">密码</label><p class="alert_text1"></p>
			            <input type="password" class="form-control" id="password1" placeholder="">
			          </div>
			          <div class="col-md-6">
			            <label for="password2" class="control-label">确认密码</label><p class="alert_text1"></p>
			            <input type="password" class="form-control" id="password2" placeholder="">
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">
			            <label><input type="checkbox">I agree to the <a href="javascript:;" data-toggle="modal" data-target="#templatemo_modal">Terms of Service</a> and <a href="#">Privacy Policy.</a></label>
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">
			            <input  id="zhuce" value="创建账号" class="btn btn-info">
			            <a href="login-1.html" class="pull-right">Login</a>
			          </div>
			        </div>	
				</div>				    	
		      </form>		      
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="templatemo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Warning</h4>
	      </div>
	      <div class="modal-body text-center" id="modal-body">

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>
<script type="text/javascript">
    $('#zhuce').on("click",function(){
        $('p').addClass('hide');
        var SEX = $("input[name='optionsRadios']:checked").val()
        $.ajax({
            type: "post",
            url: "/sign_in/",
            data: {
                username: $('#username').val(),
                password1: $('#password1').val(),
                password2: $('#password2').val(),
                department: $('#department').val(),
                email: $('#email').val(),
                last_name: $('#last_name').val(),
                first_name: $('#first_name').val(),
                phone: $('#phone').val(),
                sex: SEX
            },
            dataType: "json",
            success: function(data){
                //var jsonData = eval("("+data+")");
                console.log(data,typeof data);
                if(data.succ){
                    window.location.href="/login";
                }else{
                    for (var o in data) {
                        $('#modal-body').text(data[o]);
                        $('#templatemo_modal').modal();
                    };

                }
                //console.log(jsonData,typeof(jsonData));



            }
        });
    });
</script>