<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>LOGIN PAGE</title>
    <style>
        body{
            background-color: #F0F0F0;
            margin-right:auto;
            margin-TOP:200PX;
        }
        .d1{
            margin-left: 40%;
            width: 20em;
        }
        .pr{ position:relative;}
        .input-group .alert_text{ width:1px; height:34px; line-height:34px; color:red; position:absolute; right:-10px; top:0; white-space:nowrap;}
    </style>
</head>
<body>
    <!--下面是用户名输入框-->
    <div class="input-group pr d1">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input id="username" type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon1">
        <p class="alert_text"></p>
    </div>
    <br>
    <!--下面是密码输入框-->
    <div class="input-group pr d1">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input id="password" type="text" class="form-control" placeholder="密码" aria-describedby="basic-addon1">
        <p class="alert_text"></p>
    </div>
    <br>
    <!--下面是登陆按钮,包括颜色控制-->
    <button type="button" style="width:280px;" class="btn btn-default d1" id="denglu">登 录</button>
    <br>

</body>
</html>
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    function getRootPath_web() {
            //获取当前网址，如： http://localhost:8083/uimcardprj/share/meun.jsp
            var curWwwPath = window.document.location.href;
            //获取主机地址之后的目录，如： uimcardprj/share/meun.jsp
            var pathName = window.document.location.pathname;
            var pos = curWwwPath.indexOf(pathName);
            //获取主机地址，如： http://localhost:8083
            var localhostPaht = curWwwPath.substring(0, pos);
            //获取带"/"的项目名，如：/uimcardprj
            var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
            return (localhostPaht + projectName);
        }

    $('#denglu').click(function(){
        $('p').addClass('hide');
        var username = $('#username').val();
        var password = $('#password').val();
        if (username == null || username == "") {
            alert("用户名不能为空");
            $('#username').focus();
            return false;
        }
        else if (password == null || password == "") {
            alert("密码不能为空");
            $('#password').focus();
            return false;
        }
        else {
            $.ajax({
                type: "post",
                url: "login",
                data: {
                    userName: $('#username').val(),
                    passWord: $('#password').val()
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if(data.succ){
                        console.log(data.succ)
                        window.location.href=getRootPath_web()+"/index";
                    }
                    for (var e in data){
                        console.log(e,data[e])
                        $('#' + e).siblings('p').text(data[e]);
                        $('#' + e).siblings('p').removeClass('hide');
                    };
                }
            });
        }

    });
</script>