{% extends 'index.html' %}
{% block breadcrumb %}
    <li><a>资产管理</a></li>
	<li class="active">资产信息</li>
{% endblock %}
{% block Main_Content %}
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">Asset Info</div>
                            </div>
                            <div class="title1">
                                <a href="/data_input/asset_input" class="btn btn-success" role="button">
                                    <span class="fa fa-plus"> </span> 资产信息</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                <tr class="info">
                                    <th>编号</th>
                                    <th>IP</th>
                                    <th>设备类型</th>
                                    <th>状态</th>
                                    <th>机柜号</th>
                                    <th>机柜中序号</th>
                                    <th>机房</th>
                                    <th>业务线</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in asset_info_obj %}
                                    <tr>
                                        <td><a class="asset_font" href="/data_input/asset_change?asset_id={{ item.id }}">{{ item.name }}</a></td>
                                        <td>{{ item.device_ip }}</td>
                                        <td>{{ item.device_type_id }}</td>
                                        <td>{{ item.device_status_id }}</td>
                                        <td>{{ item.cabinet_num }}</td>
                                        <td>{{ item.cabinet_order }}</td>
                                        <td>{{ item.idc_id }}</td>
                                        <td>{{ item.bussiness_unit_id }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if pagination.current_page.has_previous %}
                                        <li><a href="?cur_page=1"><<</a></li>
                                        <li>
                                            <a href="?cur_page={{ pagination.current_page.previous_page_number }}"
                                               aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for page_item in pagination.page_items %}
                                        {% if page_item == pagination.current_page.number %}
                                            <li><a href="?cur_page={{ page_item }}">{{ page_item }}</a></li>
                                        {% else %}
                                            <li><a href="?cur_page={{ page_item }}">{{ page_item }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if pagination.current_page.has_next %}
                                        <li>
                                            <a href="?cur_page={{ pagination.current_page.next_page_number }}"
                                               aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                            </a>
                                        </li>
                                        <li><a href="?cur_page={{ pagination.page_all }}">>></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}