{% extends 'index.html' %}
{% block breadcrumb %}
    <li><a>资产管理</a></li>
	<li class="active">资产信息修改</li>
{% endblock %}
{% block Main_Content %}
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">Asset Change</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group input1">
                                    <label for="device_type" class="col-sm-2 control-label">设备类型</label>
                                    <input class="hide" id="asset_read_obj" value="{{ asset_read_obj }}">
                                    <input class="hide" id="asset_id" value="">
                                    <div class="col-sm-10">
                                        <select name="Os_platform" id="device_type_id" class="select1">
                                            <option  value="">请选择设备类型</option>
                                            <option  value="1">服务器</option>
                                            <option  value="2">交换机</option>
                                            <option  value="3">防火墙</option>
                                        </select>
                                        <p class="alert_text"></p>
                                    </div>
                                </div>
                                <div class="form-group input1">
                                    <label for="device_status" class="col-sm-2 control-label">状态</label>
                                    <div class="col-sm-10">
                                        <select name="Os_platform" id="device_status_id" class="select1">
                                            <option  value="">请选择状态</option>
                                            <option  value="1">上架</option>
                                            <option  value="2">在线</option>
                                            <option  value="3">离线</option>
                                            <option  value="4">下架</option>
                                        </select>
                                        <p class="alert_text"></p>
                                    </div>
                                </div>
                                <div class="form-group input1">
                                    <label for="bussiness_unit" class="col-sm-2 control-label">业务线</label>
                                    <div class="col-sm-10">
                                        <select name="Os_platform" id="bussiness_unit" class="select1">
                                            <option  value="choice">请选择业务线</option>
                                            {% for item in bussiness_info_obj %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}

                                        </select>
                                        <a class="related-widget-wrapper-link change-related" style="opacity: 0.3" id="change_bussiness" title="Change 修改信息" href="javascript:;">
                                            <img src="/static/img/icon-changelink.svg" alt="Change">
                                        </a>
                                        <a class="related-widget-wrapper-link add-related" id="add_bussiness" title="Add 业务信息" href="javascript:;">
                                            <img src="/static/img/icon-addlink.svg" alt="Add">
                                        </a>
                                        <p class="alert_text"></p>
                                    </div>
                                </div>
                                <div class="form-group input1">
                                    <label for="idc" class="col-sm-2 control-label">机房</label>
                                    <div class="col-sm-10">
                                        <select name="Os_platform" id="idc" class="select1">
                                            <option  value="choice">请选择机房</option>
                                            {% for item in idc_info_obj %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <a class="related-widget-wrapper-link change-related" style="opacity: 0.3" id="change_idc" title="Change 修改信息" href="javascript:;">
                                            <img src="/static/img/icon-changelink.svg" alt="Change">
                                        </a>
                                        <a class="related-widget-wrapper-link add-related" id="add_idc" title="Add 机房信息" href="javascript:;">
                                            <img src="/static/img/icon-addlink.svg" alt="Add">
                                        </a>
                                        <p class="alert_text"></p>
                                    </div>
                                </div>
                                <div class="form-group input1">
                                    <label for="cabinet_num" class="col-sm-2 control-label">机柜号</label>

                                    <div class="col-sm-10">
                                        <input class="form-control" id="cabinet_num" placeholder="机柜号" type="text">
                                        <p class="alert_text"></p>
                                    </div>
                                </div>
                                <div class="form-group input1">
                                    <label for="cabinet_order" class="col-sm-2 control-label">机柜中序号</label>

                                    <div class="col-sm-10">
                                        <input class="form-control" id="cabinet_order" placeholder="机柜中号序号" type="text">
                                        <p class="alert_text"></p>
                                    </div>
                                </div>
                                <div class="form-group input1">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button style="width: 100px" class="btn btn-primary" id="tijiao">保 存</button>
                                    </div>
                                    <div class="form-group input1" style="position: absolute">
                                        <div class="col-sm-offset-2 col-sm-10" style="position:absolute;right: -150px">
                                            <button style="width: 100px" class="btn btn-danger" id="delete">删 除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $('#add_idc').click(function(){
        ss =true;
        window.open("/data_input/idc_input","_blank","width=800,height=500",scrollbars='no')
    });
    //var idc=$("#idc").find("option:selected").val()
    //var idc=$('#idc').val()
    //console.log(idc);
    var ss='';
    $('#idc').change(function(){
        var idc=$('#idc').val();
        console.log("IDC_val",idc);
        if(idc=="choice"){
            $("#change_idc").css("opacity", "0.3");
            $('#change_idc').off('click');
        }else{
            $("#change_idc").css("opacity", "1");
            $('#change_idc').on('click',function(){
                var idc=$('#idc').val();
                ss=idc;
                window.open("/data_input/idc_change?idc="+idc+"&idname=idc","_blank","width=800,height=500",scrollbars="no")
            })
        }
    });

    $('#add_bussiness').click(function(){
        ss=true;
        window.open("/data_input/bussiness_input","_blank","width=800,height=500",scrollbars='no')
    });

    $('#bussiness_unit').change(function(){
        var bussiness=$('#bussiness_unit').val();
        console.log("BUSSINESS_val",bussiness);

        if(bussiness=="choice"){
            $("#change_bussiness").css("opacity", "0.3");
            $("#change_bussiness").off("click");
        }else{
            $("#change_bussiness").css("opacity", "1");
            $("#change_bussiness").on("click",function(){
                var bussiness=$('#bussiness_unit').val();
                ss = bussiness;
                window.open("/data_input/bussiness_change?bussiness="+bussiness+"&idname=bussiness","_blank","width=800,height=500",scrollbars='no')
            })
        }
    });


    window.onload=function(){
        var asset_read_obj=eval("("+$('#asset_read_obj').val()+")");
        console.log("asset_read_obj",asset_read_obj,typeof asset_read_obj);
        $('#asset_id').val(asset_read_obj['id']);
        $('#device_type_id').val(asset_read_obj['device_type_id']).trigger("change");
        $('#device_status_id').val(asset_read_obj['device_status_id']).trigger("change");
        $('#idc').select2().val(asset_read_obj['idc_id']).trigger("change");
        $('#bussiness_unit').select2().val(asset_read_obj['bussiness_unit_id']).trigger("change");
        $('#cabinet_num').val(asset_read_obj['cabinet_num']);
        $('#cabinet_order').val(asset_read_obj['cabinet_order']);
    };


    window.addEventListener("storage",function(e){
        //console.log('key:', e.key);
        //console.log('oldValue:', e.oldValue);
        //console.log('newValue:', localStorage['idc']);
        //console.log('idname', localStorage.getItem("idname"));
        console.log("event_SS",ss);
        var idname = localStorage.getItem("idname");
        if(idname == 'idc'){
            if(ss != ''){
                $("#idc option[value="+ss+"]").remove();
                $("#idc").append("<option value="+localStorage['idc_id']+">"+ localStorage['idc'] +"</option>");
                $("#idc").select2().val(localStorage['idc_id']).trigger("change");
                console.info("idc_ss:" +ss);
            }
        }else if(idname == 'bussiness'){
            if(ss != ''){
                $("#bussiness_unit option[value="+ss+"]").remove();
                $("#bussiness_unit").append("<option value="+localStorage['bussiness_id']+">"+ localStorage['bussiness_unit'] +"</option>");
                $("#bussiness_unit").select2().val(localStorage['bussiness_id']).trigger("change");
                console.info("b_ss:" +ss);
            }
        }else if(idname == 'idc_input'){
            if(ss != ''){
                $("#idc").append("<option value="+localStorage['idc_id']+">"+ localStorage['idc'] +"</option>");
                $("#idc").select2().val(localStorage['idc_id']).trigger("change");
            }
        }else if(idname == 'bussiness_input'){
            if(ss != ''){
                $("#bussiness_unit").append("<option value="+localStorage['bussiness_id']+">"+ localStorage['bussiness_unit'] +"</option>");
                $("#bussiness_unit").select2().val(localStorage['bussiness_id']).trigger("change");
            }
        }else if(idname == 'idc_del'){
            console.log("111111",ss);
            if(ss != ''){
                console.log("222222",ss);
                $("#idc option[value="+ss+"]").remove();
                $("#idc").select2().val(localStorage['idc_id']).trigger("change");
            }
        }else if(idname == 'bussiness_del'){
            if(ss != ''){
                console.log("del_ss",ss);
                $("#bussiness_unit option[value="+ss+"]").remove();
                $("#bussiness_unit").select2().val(localStorage['bussiness_id']).trigger("change");
            }
        };
        ss = '';
    });


    $('#tijiao').click(function(){
        $("p").addClass("hide");
        console.log("asset_id",$('#asset_id').val());
        $.ajax({
            type: "post",
            url: "asset_change.html",
            data: {
                id: $('#asset_id').val(),
                device_type_id: $('#device_type_id').val(),
                device_status_id: $('#device_status_id').val(),
                cabinet_num: $('#cabinet_num').val(),
                cabinet_order: $('#cabinet_order').val(),
                idc: $('#idc').val(),
                bussiness_unit: $('#bussiness_unit').val(),
                shanchu: "0"
            },
            dataType: "json",
            success:function(data){
                if(data.succ){
                    $("p").addClass('hide');
                    console.log("ok");
                    alert("保存成功");
                    window.location.href='/data_input/asset_info';
                }
                for (var o in data){
                    $('#' + o).siblings('p').text(data[o]);
                    $('#' + o).siblings('p').removeClass('hide');
                }
            }
        })
    });

    $('#delete').on("click",function(){
        var msg = "确定要删除吗？"
        if (confirm(msg) == true) {
            $.ajax({
                type: "post",
                url: "asset_change.html",
                data: {
                    shanchu: "1",
                    id: $('#asset_id').val()
                },
                dataType: "json",
                success: function (data) {
                    if(data.succ){
                        alert("删除成功");
                        window.location.href='/data_input/asset_info';
                    }
                }
            })
        }
    });
</script>
{% endblock %}